p {
  font-family: verdana;
  margin-top: 0px;
  margin-bottom: 0px;
}

.course-name {
  font-weight: bold;
  font-size: 18px;
}

.sub-title {
color: grey;
font-size: 16px;
}

.course-description {
  margin-top: 20px;
  width: 300px;
  line-height: 20px;
}

.get-started-button {
  border: none;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 15px;
  color: white;
  background-color: green;
}