p {
  font-family: arial;
  margin-bottom: 0px;
  margin-top: 0px;
}

.price {
font-size: 28px;
margin-bottom: 10px;
}
.currency {
  color: grey;
  font-size: 14px;
}

.change-one {
color: rgb(86, 211, 86);
margin-bottom: 10px;
}

.after-hours {
  color: grey;
}

.change-two {
    color: rgb(233, 102, 102);
  }