.apply-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  border-radius: 25px;
  background-color:rgb(10, 102, 194);
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.save-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 1px;
  border-color: rgb(10, 102, 194);
  border-radius: 25px;
  background-color: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  font-size: 15px;
}